*{
    margin: 0; padding: 0;box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    width: 100%; height: 100vh;
    background-image:url('./Images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%; height: 15vh;
    background: rgba(0,0,0,0.2);
    color: white;display: flex; justify-content: space-between;
    align-items: center; text-transform: uppercase;
}

nav .logo{
    width: 25%; text-align: center;
    
}

nav .menu{
    width: 40%; 
    direction:flex; justify-content: space-around;
}

nav .menu a{
    width: 25%;
    text-decoration: none; color: white;
    font-weight: bold;
}
nav .menu a:first-child{
    color: #00b894;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; color: black;
}

section{

}

section h3{
    font-size: 35px; font-weight: 200; letter-spacing: 3px;
    text-shadow: 1px 1px 2px blue;
}

section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px red;
    text-transform: uppercase; color: black;
}
section p{
    font-size: 25px;
    color: #eee;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px red;
}

section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}

section .btnone{
    /*background: #00b894;*/
    background: #fff;
    color: #000;
}

.btnone:hover{
    background: #00b894;
    color: white;
}

section .btntwo{
    background: #00b894;
    color: white;
}

.btntwo:hover{
    background: #fff;
    color: #000;
}

.change_content:after{
    content: '';
    animation: changetext 10s infinite linear;
    color: #00b894;
}

@keyframes changetext{
    0%{content:"Ira";}
    20% { content: "Jesiree"; }
    40% { content: "Barbara"; }
    60% { content: "Zhavinna"; }
    60% { content: "Emanuel"; }
    80% { content: "Reivher"; }
    100% { content: "Princess"; }
}